<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}My website{% endblock %}</title>
</head>
<body>
<header>
<h1>{% block Header %}Welcome to Giftos{% endblock %}</h1>
<nav>
    <ul>
        <li><a href="{% url 'My_index' %}">Home</a></li>
        <li><a href="{% url 'My_about' %}">about</a></li>
        <li><a href="{% url 'My_contact us' %}">contacts</a></li>


    </ul>

</nav>
    </header>
<main>
    {% block content %} {% endblock %}
</main>
    <footer>
        <p>&copy;2024 Giftos</p>
    </footer>



</body>
</html>